{% extends "journal/navbar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    {% block content %}
    <br>
    <div class="container bg-black shadow-md p-5 form-layout">

        <h3>Delete your account</h3>
        <p>Are you sure you want to delete your account?</p>
        <br>
        <form method="post" autocomplete="off">

            {% csrf_token %}

            <button type="submit" class="btn btn-secondary btn-md w-100 btn-block p-3">Delete account</button>
            
        </form>
        <br>
        <br>
            <a href="{% url 'profile-management'%}">Return to the Profile management</a>


    </div>
    <br>
    {% endblock %}
</body>
</html> 