<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> DreamCache | Login</title>
</head>
<body>
    <div class="container">
        <h3>Login to your account</h3>
        <br>
        <br>

        <form method="post" autocomplete="off">

            {% csrf_token %}

            {{LoginForm.as_p}}
            <br>

            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>